# coding: utf-8
<h1>Mindmeister</h1>

<%= form_tag ({:controller => 'mindmeisters', :action => :getChannel}) do -%>
<h2>Please Input Mindmeister User Name</h2>
　　<%= text_field_tag 'text_field[user_name]', '', :size => 80 %>
<%= submit_tag 'Send' %>
<% end -%>


<br><br><br>
<%= link_to "Back to the Root", root_path %>
